<h2><center>Week 5 - Assignment</center></h2>
<h3><center>Programming for Data Science 2024</center></h3>

Exercises for the topics covered in the fifth lecture.

The exercise will be marked as passed if you get **at least 10/15** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file **must** be *SurnameName* of the two members of the group. Example: Riccardo Cusinato + Athina Tzovara = *CusinatoRiccardo_TzovaraAthina.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groups’ code as your own will result in 0 points.

For questions contact: *riccardo.cusinato@unibe.ch* with the subject: *Programming for Data Science 2024*.

**Deadline: 14:00, March 28, 2024.**

<h3 style="text-align:left;">Exercise 1 - Fitbit dataset<span style="float: right">3 points</span></h3>

We will work with three datasets - 'activity.csv', 'calories.csv', and 'last_participant.csv', which contains activity tracker data from https://www.kaggle.com/datasets/arashnic/fitbit

If you are unable to do this exercise, you can load the dataset 'combined_solution.csv' for the next exercise.

1. **Data preparation** (*1 point*)

    - Load the two datasets 'activity.csv' and 'calories.csv'.
    - Use pd.to_datetime to standardize the ActivityDate columns (https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [3]:
# Importing Necessary Libraries
import pandas as pd
import numpy as np

# Loading the datasets
calories_df = pd.read_csv('./data/calories.csv')
activity_df = pd.read_csv('./data/activity.csv')

# Using pd.to_datetime() to standardize the date format in ActivityDate column
activity_df['ActivityDate']=pd.to_datetime(activity_df['ActivityDate'])
calories_df['ActivityDate']=pd.to_datetime(calories_df['ActivityDate'])


# Print both dataframes
print(calories_df)
print(activity_df)

             ID ActivityDate  Calories
0    1624580081   2016-04-12    1432.0
1    1624580081   2016-04-13    1411.0
2    1624580081   2016-04-14    1572.0
3    1624580081   2016-04-15    1344.0
4    1624580081   2016-04-16       NaN
..          ...          ...       ...
904  8792009665   2016-05-06    1688.0
905  8792009665   2016-05-07    1688.0
906  8792009665   2016-05-08    1688.0
907  8792009665   2016-05-09    1688.0
908  8792009665   2016-05-10       NaN

[909 rows x 3 columns]
             ID ActivityDate  TotalSteps  TotalDistance  VeryActiveDistance  \
0    1503960366   2016-04-12     13162.0           8.50                1.88
1    1503960366   2016-04-13     10735.0           6.97                1.57
2    1503960366   2016-04-14     10460.0           6.74                2.44
3    1503960366   2016-04-15      9762.0           6.28                2.14
4    1503960366   2016-04-16     12669.0           8.16                2.71
..          ...          ...         ...            ...                 ...
904  8792009665   2016-05-06         NaN           0.00                0.00
905  8792009665   2016-05-07         NaN           0.00                0.00
906  8792009665   2016-05-08         NaN           0.00                0.00
907  8792009665   2016-05-09         NaN           0.00                0.00
908  8792009665   2016-05-10         NaN           0.00                0.00

     ModeratelyActiveDistance  LightActiveDistance  VeryActiveMinutes  \
0                        0.55                 6.06                 25
1                        0.69                 4.71                 21
2                        0.40                 3.91                 30
3                        1.26                 2.83                 29
4                        0.41                 5.04                 36
..                        ...                  ...                ...
904                      0.00                 0.00                  0
905                      0.00                 0.00                  0
906                      0.00                 0.00                  0
907                      0.00                 0.00                  0
908                      0.00                 0.00                  0

     FairlyActiveMinutes  LightlyActiveMinutes
0                     13                   328
1                     19                   217
2                     11                   181
3                     34                   209
4                     10                   221
..                   ...                   ...
904                    0                     0
905                    0                     0
906                    0                     0
907                    0                     0
908                    0                     0

[909 rows x 10 columns]

2. **Merging** (*1 point*)

    - Consider what information is shared between the two datasets and merge them. Keep in mind that the order of rows is not the same in both datasets!
    - Print out the mean "TotalSteps" of the merged DataFrame at this point.

In [15]:
# Merge the activity and calories df by ID and Activity Date
merged_df = activity_df.merge(calories_df, on=['ID', 'ActivityDate'])


# Calculate the mean of the merged df column "TotalSteps" 
mean_merged = merged_df['TotalSteps'].mean()
print('mean of the merged df: ', mean_merged)

mean of the merged df:  7786.438763376932

3. **Concatenation** (*1 point*)

    - The data of one additional participant exists in 'last_participant.csv'. Load this dataset and concatenate it with the merged dataset generated above
    - Print out the mean "TotalSteps" again

In [7]:
last_df = pd.read_csv('./data/last_participant.csv')
last_df['ActivityDate'] = pd.to_datetime(last_df['ActivityDate'])
concatenated_df = pd.concat([merged_df, last_df], ignore_index=True)
concatenated_df

,ID,ActivityDate,TotalSteps,TotalDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,Calories
0,1503960366,2016-04-12,13162.0,8.500000,1.88,0.55,6.06,25,13,328,1985.0
1,1503960366,2016-04-13,10735.0,6.970000,1.57,0.69,4.71,21,19,217,NaN
2,1503960366,2016-04-14,10460.0,6.740000,2.44,0.40,3.91,30,11,181,1776.0
3,1503960366,2016-04-15,9762.0,6.280000,2.14,1.26,2.83,29,34,209,1745.0
4,1503960366,2016-04-16,12669.0,8.160000,2.71,0.41,5.04,36,10,221,1863.0
...,...,...,...,...,...,...,...,...,...,...,...
964,8877689391,2016-08-05,10686.0,8.110000,1.08,0.20,6.80,17,4,245,2847.0
965,8877689391,2016-09-05,20226.0,18.250000,11.10,0.80,6.24,73,19,217,3710.0
966,8877689391,2016-10-05,10733.0,8.150000,1.35,0.46,6.28,18,11,224,2832.0
967,8877689391,2016-11-05,21420.0,19.559999,13.22,0.41,5.89,88,12,213,3832.0
968,8877689391,2016-12-05,8064.0,6.120000,1.82,0.04,4.25,23,1,137,1849.0

<h3 style="text-align:left;">Exercise 2 - Working with missing data<span style="float: right">5 points</span></h3>

In our dataset, some values are missing from the 'TotalSteps' and 'Calories' columns.

We can try to approximate these missing values with the data we got. 

You can load the dataset 'combined_solution.csv' if you were unable to complete the previous exercise.

1. **Filling in missing values** (*3 points*)

    - Calculate the mean steps per calory burnt and mean calories burnt per step, by averaging across all observations in the dataset and then computing the ratio. Print out both values.
    - Fill in the null values in the columns 'Calories' and 'TotalSteps' where possible. To fill the values you have to use the factors *"TotalSteps/Calories"* and *"Calories/TotalSteps"* calculated in the previous point, using one of the two information to fill the other.
    - Print out the mean of the columns 'TotalSteps' and 'Calories' before and after filling the missing values.

In [ ]:
###
# YOUR CODE HERE
###

2. **Dropping missing values** (*2 points*)

    - Print how many null values there are in the 'Calories' and 'TotalSteps' columns, respectively.
    - Drop the rows where **both** 'Calories' and 'TotalSteps' are missing.
    - Print number of rows in the final dataset.

In [ ]:
###
# YOUR CODE HERE
###

<h3 style="text-align:left;">Exercise 3 - Multi-index<span style="float: right">7 points</span></h3>

In this exercise you will create and manipulate a multi-index dataframe. First, let's create the dataframe for the exercise:

In [ ]:
import pandas as pd

df = pd.DataFrame(
    {
        "idx": [0, 1, 2],
        "A_X": [1.1, 1.1, 1.1],
        "A_Y": [1.2, 1.2, 1.2],
        "B_X": [1.11, 1.11, 1.11],
        "B_Y": [1.22, 1.22, 1.22],
    }
)

1. Set the column *idx* as the index of the dataframe. (*1 point*)

In [ ]:
###
# YOUR CODE HERE
###

2. Create a multi-column stucture. (*3 points*)
    - Set the columns *A, B* on the first level and *X, Y* on the second level, taken from the combinations in the original dataframe. 
    - Set the names of the two new levels as "L1" and "L2", respectively. 
    - Print the resulting dataframe.

In [ ]:
###
# YOUR CODE HERE
###

3. From the previous dataframe, re-create a dataframe with a single column level. (*3 points*)
    - Create a new column from the first level (L1) of the multi-column. At this point your columns should be ['L1', 'X', 'Y'], with name 'L2'. **NB** The DataFrame method *reset_index* is useful for this part.
    - Rename the newly-created column as "letter" and the name of the column level as "L". Use the appropiate pandas methods for this.
    - Print the resulting dataframe.

In [ ]:
###
# YOUR CODE HERE
###