<h2><center>Week 6 - Assignment</center></h2>
<h3><center>Programming for Data Science 2024</center></h3>

Exercises for the topics covered in the sixth lecture.

The exercise will be marked as passed if you get **at least 10/15** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file **must** be *SurnameName* of the two members of the group. Example: Riccardo Cusinato + Athina Tzovara = *CusinatoRiccardo_TzovaraAthina.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groups’ code as your own will result in 0 points.

For questions contact: *riccardo.cusinato@unibe.ch* with the subject: *Programming for Data Science 2024*.

**Deadline: 14:00, April 11, 2024.**

<h3 style="text-align:left;">Exercise 1 - World Happiness Report<span style="float: right">8 points</span></h3>

You will find the CSV files *report.csv* and *region.csv* in the data folder for this assignment (Credit: https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021).

1. Import the two *csv* files and save them in two variables called *df_report* and *df_region*. Create a new column "region" in the *df_report* dataframe by populating it with the correct region in the *df_region* dataframe. If a country does not exist in *df_region*, label it as "unknown" in *df_report*. Print *df_report* at the end. (*2 points*)

**NB** If you are unable to do the exercise, you can use the file *report_region.csv* in the data folder for the next points.

In [37]:
# Import Necessary Libraries
import pandas as pd
import numpy as np

# Load the datasets
df_report = pd.read_csv('./data/report.csv')
df_region = pd.read_csv('./data/region.csv')

# Merge the 'region' column from df_region into df_report
df_report['region'] = df_report['Country name'].map(df_region.set_index('name')['region'])

# Fill missing regions with "unknown"
df_report['region'] = df_report['region'].fillna('unknown')

print(df_report)

     Country name  year  Life Ladder  Log GDP per capita  Social support  \
0     Afghanistan  2008        3.724               7.370           0.451
1     Afghanistan  2009        4.402               7.540           0.552
2     Afghanistan  2010        4.758               7.647           0.539
3     Afghanistan  2011        3.832               7.620           0.521
4     Afghanistan  2012        3.783               7.705           0.521
...           ...   ...          ...                 ...             ...
1944     Zimbabwe  2016        3.735               7.984           0.768
1945     Zimbabwe  2017        3.638               8.016           0.754
1946     Zimbabwe  2018        3.616               8.049           0.775
1947     Zimbabwe  2019        2.694               7.950           0.759
1948     Zimbabwe  2020        3.160               7.829           0.717

      Healthy life expectancy at birth  Freedom to make life choices  \
0                                50.80                         0.718
1                                51.20                         0.679
2                                51.60                         0.600
3                                51.92                         0.496
4                                52.24                         0.531
...                                ...                           ...
1944                             54.40                         0.733
1945                             55.00                         0.753
1946                             55.60                         0.763
1947                             56.20                         0.632
1948                             56.80                         0.643

      Generosity  Perceptions of corruption  Positive affect  Negative affect  \
0          0.168                      0.882            0.518            0.258
1          0.190                      0.850            0.584            0.237
2          0.121                      0.707            0.618            0.275
3          0.162                      0.731            0.611            0.267
4          0.236                      0.776            0.710            0.268
...          ...                        ...              ...              ...
1944      -0.095                      0.724            0.738            0.209
1945      -0.098                      0.751            0.806            0.224
1946      -0.068                      0.844            0.710            0.212
1947      -0.064                      0.831            0.716            0.235
1948      -0.009                      0.789            0.703            0.346

      region
0       Asia
1       Asia
2       Asia
3       Asia
4       Asia
...      ...
1944  Africa
1945  Africa
1946  Africa
1947  Africa
1948  Africa

[1949 rows x 12 columns]

2. Calculate and print the median "Healthy life expectancy at birth" per region in the year 2019. (*2 point*)

In [38]:
# Filter the data for the year 2019
df_2019 = df_report[df_report['year'] == 2019]

# Group by region and calculate the median "Healthy life expectancy at birth"
median_life_expectancy = df_2019.groupby('region')['Healthy life expectancy at birth'].median()

print(median_life_expectancy)

region
Africa      56.90
Americas    68.00
Asia        66.05
Europe      72.10
Oceania     73.65
unknown     58.50
Name: Healthy life expectancy at birth, dtype: float64

3. Create a Pivot table with the median "Healthy life expectancy at birth" per region (index) per year (column) and print it. (*1 point*)

In [39]:
# Filter the data for the relevant columns
df_filtered = df_report[['year', 'region', 'Healthy life expectancy at birth']]

# Create a pivot table with median values
pivot_table_median = df_filtered.pivot_table(index='region', columns='year', values='Healthy life expectancy at birth', aggfunc='median')

print(pivot_table_median)

year       2005   2006    2007    2008    2009    2010   2011     2012   2013  \
region
Africa    59.70  46.57  47.420  49.560  50.640  52.300  52.24  54.4600  53.68
Americas  65.80  65.22  65.340  65.520  65.850  65.700  65.92  66.0400  66.36
Asia      63.50  64.05  62.760  63.140  64.220  64.400  64.60  64.1300  64.37
Europe    70.05  67.00  66.200  70.530  67.640  69.800  68.82  70.8400  69.80
Oceania   71.40  71.20  71.560  71.740     NaN  72.100  72.21  72.3200  72.43
unknown     NaN  65.23  64.095  62.015  62.132  65.601  54.58  59.8855  55.34

year       2014   2015  2016   2017  2018   2019   2020
region
Africa    54.48  54.50  55.3  55.70  56.5  56.90  57.65
Americas  66.58  66.80  67.1  67.20  67.9  68.00  68.30
Asia      64.86  65.10  64.9  65.00  65.3  66.05  66.20
Europe    70.61  71.30  71.6  71.80  71.5  72.10  72.15
Oceania   72.54  72.65  72.9  73.15  73.4  73.65  73.90
unknown   55.72  56.10  56.7  57.30  57.9  58.50  65.56

4. Create a Pivot table (same structure as before) with the maximum "Log GDP per capita" per region per year and print it. In the resulting table, also add the overall values across years for each region, with the appropriate pandas method. (*1 point*)

In [40]:
# First, filter the data for the relevant columns
df_filtered = df_report[['year', 'region', 'Log GDP per capita']]

# Then, create a pivot table with maximum values
pivot_table_max = df_filtered.pivot_table(index='region', columns='year', values='Log GDP per capita', aggfunc='max', margins=True, margins_name='Overall')

print(pivot_table_max)

year        2005    2006    2007    2008    2009    2010    2011    2012  \
region
Africa     9.036   9.492   9.426   9.590   9.414   9.556   9.767   9.842
Americas  10.652  10.924  10.933  10.922  10.888  10.905  10.913  10.928
Asia      10.699  11.367  11.212  11.178  11.456  11.520  11.553  11.523
Europe    10.851  11.050  10.891  11.042  11.562  11.592  11.595  11.567
Oceania   10.659  10.526  10.703  10.719     NaN  10.722  10.733  10.754
unknown      NaN  10.746   9.416  10.816  10.788  10.847  10.887  10.893
Overall   10.851  11.367  11.212  11.178  11.562  11.592  11.595  11.567

year        2013    2014    2015    2016    2017    2018    2019    2020  \
region
Africa     9.728   9.865   9.724   9.935   9.972  10.008  10.043   9.972
Americas  10.939  10.956  10.977  10.986  11.001  11.025  11.043  11.001
Asia      11.357  11.383  11.486  11.419  11.461  11.490  11.486  11.053
Europe    11.580  11.598  11.617  11.640  11.634  11.645  11.648  11.323
Oceania   10.762  10.772  10.779  10.791  10.798  10.811  10.815  10.760
unknown   10.750  10.940  10.842  10.970  11.000   9.677  11.000   9.690
Overall   11.580  11.598  11.617  11.640  11.634  11.645  11.648  11.323

year      Overall
region
Africa     10.043
Americas   11.043
Asia       11.553
Europe     11.648
Oceania    10.815
unknown    11.000
Overall    11.648

5. Find the length of the shortest country name(s) in the dataset and print it, together with the actual countries (print just the unique occurrences!). Then, create a new column ”Short name”, where each country name is cut down to the length of the shortest country name. For instance, if the country with the shortest name is Germany (7 letters, and not true, just an example), ”Switzerland” would become ”Switzer”. (*2 points*)

In [41]:
# Find the minimum length of country names
min_length = df_report['Country name'].apply(len).min()

# Find the countries with the minimum length
shortest_countries = df_report[df_report['Country name'].apply(len) == min_length]['Country name'].unique()

# Print the length of the shortest country name(s) and the actual countries
print("Length of the shortest country name:", min_length)
print("Shortest country name(s):", shortest_countries)

# Create a new column "Short name" by truncating each country name to the length of the shortest country name
df_report['Short name'] = df_report['Country name'].apply(lambda x: x[:min_length])

# Print the updated DataFrame
df_report

Length of the shortest country name: 4
Shortest country name(s): ['Chad' 'Cuba' 'Iran' 'Iraq' 'Laos' 'Mali' 'Oman' 'Peru' 'Togo']

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,region,Short name
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,Asia,Afgh
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,Asia,Afgh
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,Asia,Afgh
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,Asia,Afgh
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,Asia,Afgh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209,Africa,Zimb
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224,Africa,Zimb
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212,Africa,Zimb
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235,Africa,Zimb
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346,Africa,Zimb

<h3 style="text-align:left;">Exercise 2 - Weather data<span style="float: right">7 points</span></h3>

In this exercise, you'll use the *weather.csv* dataset that contains UK weather data. The dataset has columns year and month describing which year and month a specific recording belongs to. (Credit: https://www.kaggle.com/josephw20/uk-met-office-weather-data)

1. Import the dataset into a dataframe called *df_weather* and create a new column *datetime*, containing a datetime object for each row describing the year and month of the recording. The day can be set as the 1st of the month. Finally, print the dataframe. (*2 points*)

**NB**  If you are unable to do this exercise, you can use the file *weather_datetime.csv* in the data folder for the next points.

In [42]:
import pandas as pd

# Load the dataset into a DataFrame
df_weather = pd.read_csv('./data/weather.csv')

# Display the first few rows of the DataFrame to understand its structure
print(df_weather.head())

# Create a new column 'datetime' containing a datetime object for each row
# Using pd.to_datetime() to convert the year and month columns into datetime objects.
# Assigning the day as 1 for all rows, as it's common to use the first day of the month for such datetime representations.
# This operation effectively creates a datetime object representing the first day of each month for the given year and month.
df_weather['datetime'] = pd.to_datetime(df_weather[['year', 'month']].assign(day=1))

# Print the updated DataFrame
print(df_weather)

     year  month  tmax  tmin  af  rain  sun    station
0  1941.0    1.0   NaN   NaN NaN  74.7  NaN  aberporth
1  1941.0    2.0   NaN   NaN NaN  69.1  NaN  aberporth
2  1941.0    3.0   NaN   NaN NaN  76.2  NaN  aberporth
3  1941.0    4.0   NaN   NaN NaN  33.7  NaN  aberporth
4  1941.0    5.0   NaN   NaN NaN  51.3  NaN  aberporth
         year  month  tmax  tmin   af   rain    sun    station   datetime
0      1941.0    1.0   NaN   NaN  NaN   74.7    NaN  aberporth 1941-01-01
1      1941.0    2.0   NaN   NaN  NaN   69.1    NaN  aberporth 1941-02-01
2      1941.0    3.0   NaN   NaN  NaN   76.2    NaN  aberporth 1941-03-01
3      1941.0    4.0   NaN   NaN  NaN   33.7    NaN  aberporth 1941-04-01
4      1941.0    5.0   NaN   NaN  NaN   51.3    NaN  aberporth 1941-05-01
...       ...    ...   ...   ...  ...    ...    ...        ...        ...
37044  2020.0    2.0  10.8   4.5  2.0  117.4   63.1  yeovilton 2020-02-01
37045  2020.0    3.0  11.5   3.0  6.0   43.4  159.2  yeovilton 2020-03-01
37046  2020.0    4.0  17.5   5.3  3.0   39.8  235.0  yeovilton 2020-04-01
37047  2020.0    5.0  19.7   6.8  2.0    3.6  305.6  yeovilton 2020-05-01
37048  2020.0    6.0  20.5  11.0  0.0  103.0  187.6  yeovilton 2020-06-01

[37049 rows x 9 columns]

2. Write a function *mean_rainfall* that takes in input the dataframe, the name of a weather station, the upper and lower bounds of a time interval and computes the mean *rain* for the time period between (and including) the upper and lower bound. Make the station name not case-sensitive. Use the inputs as in the example below (i.e. upper and lower bounds as strings) (*3 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52
mean_rainfall(df_weather, "manston", "january 2019", "march 2020")  # also returns 49.52
```

In [44]:


import pandas as pd

def mean_rainfall(df, station_name, start_date, end_date):
    """
    Calculate the mean rainfall for a specified weather station within a given time interval.

    Parameters:
        df (DataFrame): The DataFrame containing weather data.
        station_name (str): The name of the weather station (case-insensitive).
        start_date (str): The start date of the time interval (format: "Month Year").
        end_date (str): The end date of the time interval (format: "Month Year").

    Returns:
        float: The mean rainfall for the specified time period and weather station.
    """
    # Convert station name to lowercase for case-insensitive comparison
    station_name_lower = station_name.lower()
    
    # Convert start_date and end_date to datetime objects for comparison
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    # Filter rows by station name (case-insensitive) and datetime within specified interval
    # Convert datetime to '%B %Y' format for comparison with start_date and end_date
    # Convert 'datetime' column to datetime objects and then to strings in desired format
    # Check if formatted datetime strings fall within specified start_date and end_date
    filtered_df = df[(df['station'].str.lower() == station_name_lower) & # Filter station name (lowercase)
                     (pd.to_datetime(df['datetime']).between(start_date, end_date))]  # Filter datetime

    # Check if there are any rows in the filtered DataFrame
    if filtered_df.empty:
        print("No data available for the specified station and time interval.")
        return None

    # Calculate the mean rainfall for the filtered data
    mean_rainfall = filtered_df['rain'].mean()

    return mean_rainfall

# Load the weather data from weather_datetime.csv
df_weather = pd.read_csv('data/weather_datetime.csv')

# Test the function
print(mean_rainfall(df_weather, "Manston", "January 2019", "March 2020"))  # returns 49.52
print(mean_rainfall(df_weather, "manston", "January 2019", "March 2020"))  # also returns 49.52

49.52
49.52

3. Expand the function *mean_rainfall* of the previous point, such that it also returns the number of days since the maximum rainfall in the time-period selected and the current date (use 28th of March as reference) (*2 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52, 1640
```

In [ ]:
import pandas as pd

def mean_rainfall(df, station_name, start_date, end_date):
    """
    Calculate the mean rainfall for a specified weather station within a given time interval,
    and return the number of days since the maximum rainfall in the selected time period
    and the current date (with 28th of March as reference).

    Parameters:
        df (DataFrame): The DataFrame containing weather data.
        station_name (str): The name of the weather station (case-insensitive).
        start_date (str): The start date of the time interval (format: "Month Year").
        end_date (str): The end date of the time interval (format: "Month Year").

    Returns:
        tuple: A tuple containing the mean rainfall for the specified time period and weather station,
        and the number of days since the maximum rainfall in the selected time period.
    """
    # Convert station name to lowercase for case-insensitive comparison
    station_name_lower = station_name.lower()
    
    # Convert start_date and end_date to datetime objects for comparison
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    # Filter DataFrame by station name and time interval
    filtered_df = df[(df['station'].str.lower() == station_name_lower) &
                     (pd.to_datetime(df['datetime']).between(start_date, end_date))]

    # Check if there are any rows in the filtered DataFrame
    if filtered_df.empty:
        print("No data available for the specified station and time interval.")
        return None, None

    # Calculate the mean rainfall for the filtered data
    mean_rainfall = filtered_df['rain'].mean()

    # Find the maximum rainfall and its corresponding date in the selected time period
    max_rainfall_row = filtered_df.loc[filtered_df['rain'].idxmax()]
    max_rainfall_date = pd.to_datetime(max_rainfall_row['datetime'])

    # Calculate the number of days since the maximum rainfall in the selected time period
    days_since_max_rainfall = (pd.Timestamp.now() - max_rainfall_date).days

    # Calculate the number of days since the 28th of March (reference date)
    reference_date = pd.Timestamp('2024-03-28')
    days_since_reference_date = (pd.Timestamp.now() - reference_date).days

    return mean_rainfall, days_since_max_rainfall, days_since_reference_date

# Load the weather data from weather_datetime.csv
df_weather = pd.read_csv(r'C:\Users\ASUS\Documents\Uni\Courses\Semester_2\Advanced Python\data\weather_datetime.csv')

# Test
mean_rain, days_since_max_rainfall, days_since_ref_date = mean_rainfall(df_weather, "Manston", "January 2019", "March 2020")
print("Mean rainfall:", mean_rain)
print("Days since maximum rainfall in selected period:", days_since_max_rainfall)
print("Days since 28th of March:", days_since_ref_date)

Mean rainfall: 49.52
Days since maximum rainfall in selected period: 1654
Days since 28th of March: 14